<link href="../css/geral.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/geralJquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  
<div class="painel" id="painel">
        <div id="pesquisar" class="painel-item">Pesquisar</div>
        <div id="inserir" class="painel-item">Inserir</div>
        <div id="alterar" class="painel-item">Alterar</div>
        <div id="deletar" class="painel-item">Deletar</div>
</div>
<div class="painelBaixo">
    <h5 class="bemvindo" id="bemvindo">Bem vindo</h5>
    <div id="containerPesquisar">
        <h5 class="bemvindo" id="bemvindo">Pesquisa</h5>
        <br />
        <label class="nomeLabel">Nome: </label>
        <input class="form-control nomeInput" type="text" placeholder="Digite.." id="nome">
        <label class="emailLabel">E-mail: </label>
        <input class="form-control emailInput" type="text" placeholder="Digite.." id="email">
        <button type="submit" class="btn btn-primary" id="buttonPesquisa">Submit</button>
    </div>
    <div id="containerInserir">
        <h5 class="bemvindo" id="bemvindo">Crie um login</h5>
        <br />
        <label class="nomeLabel">Nome: </label>
        <input class="form-control nomeInput" type="text" placeholder="Digite.." id="nome">
        <label class="emailLabel">E-mail: </label>
        <input class="form-control emailInput" type="text" placeholder="Digite.." id="email">
        <button type="submit" class="btn btn-primary" id="buttonInserir">Submit</button>
    </div>
    <div id="containerAlterar">
        <h5 class="bemvindo" id="bemvindo">Altere um login</h5>
        <br />
        <label class="nomeLabel">Nome: </label>
        <input class="form-control nomeInput" type="text" placeholder="Digite.." id="nome">
        <label class="emailLabel">E-mail: </label>
        <input class="form-control emailInput" type="text" placeholder="Digite.." id="email">
        <button type="submit" class="btn btn-primary" id="buttonAlterar">Submit</button>
    </div>
    <div id="containerDeletar">
        <h5 class="bemvindo" id="bemvindo">Delete um login</h5>
        <br />
        <label class="nomeLabel">Nome: </label>
        <input class="form-control nomeInput" type="text" placeholder="Digite.."id="nome">
        <label class="emailLabel">E-mail: </label>
        <input class="form-control emailInput" type="text" placeholder="Digite.." id="email">
        <button type="submit" class="btn btn-primary" id="buttonDeletar">Submit</button>
    </div>
</div>